<script>
    var width = 650;
    var height = 380;

    var tooltip = d3.select("body")
        .append("div")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .style("background", "rgba(255,255,255,0.9)")
        .style("padding", "4px")
        .style("border", "2px")
        .style("border-radius", "16px")
        .text("a simple tooltip");

    d3.select("#bubbleChart").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("id", "primarySVG");

    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    d3.json("/get_current_input_workload", function (error, data) {
        data.sort(function (a, b) {
            return b.stats.n_op;
        });
        var svg = d3.select("#primarySVG");

        var padding = 25;
        var scaleFactor = 90;

        var maxVar = d3.max(data.map(x => x.stats.n_op))
        for (var j = 0; j < data.length; j++) {
            data[j].x = Math.random() * width;
            data[j].y = Math.random() * height;
            for (var k in data[j].stats) data[j][k] = data[j].stats[k];
            data[j].radius = Math.log(scaleFactor + Math.exp(scaleFactor * data[j].n_op / maxVar)); //10 * Math.sqrt(data[j].stats.n_op);

        }


        var getCenters = function (vname, size) {
            var centers, map;
            centers = _.uniq(_.pluck(data, vname)).map(function (d) {
                return {
                    name: d,
                    value: 1
                };
            });
            map = d3.layout.pack().size(size);
            map.nodes({children: centers});
            return centers;
        };

        function color(d) {
            var colors = [ "#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"]
            var c;
            var s = d.selected
            if (s) {
                c = colors[parseInt(d.radius/(colors.length))];
            } else {
                c = "#FFFFFF";
            }
            return c;
        }

        var nodes = svg.selectAll("circle").data(data);
        nodes.enter().append("circle")
            //.style("fill", d3.color("steelblue"))
            .attr("cx", function (d) {
                return d.x;
            })
            .attr("cy", function (d) {
                return d.y;
            })
            .attr("r", 2)
            .attr("id", function (d) {
                return d.plan_id;
            })
            .on("mouseover", function (d) {
                tooltip.html("Plan ID: " + d.plan_id + "<br>" +
                    "N° Operators: " + d.n_op + "<br>" +
                "N° Map: " + d.Map + "<br>" +
                "N° Join: " + d.Join + "<br>" +
                "N° Group By: " + d["Group by"] + "<br>" +
                "N° Bulk Iter.: " + d["Bulk Iteration"] + "<br>");
                return tooltip.style("visibility", "visible");
            })
            .on("mousemove", function () {
                return tooltip.style("top", (d3.event.pageY - 10) + "px").style("left", (d3.event.pageX + 10) + "px");
            })
            .on("mouseout", function (d) {
                return tooltip.style("visibility", "hidden");
            })
            .on("click", function (d) {
                d.selected = !d.selected;
                d3.select(this).style("fill", color(d))
                $("#check_" + d.plan_id).prop('checked', d.selected);
                return d;
            });

        nodes.transition()
            .duration(500)
            .attr("r", function (d) {
                return d.radius;
            });

        var text = nodes.append("text")
            .attr("dx", 12)
            .attr("dy", ".35em")
            .text(function (d) {
                return d.plan_id;
            });


        var force = d3.layout.force();
        draw('n_op');

        $(document).ready(function () {
            $("label.ratingBtn").click(function () {
                draw(this.id);
            });
        });


        function draw(varname) {
            var maxVar = d3.max(data.map(x => x[varname]))
            console.log(data);
            for (var j = 0; j < data.length; j++) {
                data[j].radius = Math.log(scaleFactor + Math.exp(scaleFactor * data[j][varname] / maxVar)); //10 * Math.sqrt(data[j].stats.n_op);
            }
            d3.selectAll("circle").data(data)
                .attr("r", d => d.radius)
                .style("fill", d => color(d));
            /*    function (d) {
                d.radius = Math.log(scaleFactor + Math.exp(scaleFactor * d[varname] / maxVar));
                return d.radius;
            });*/
            var centers = getCenters(varname, [width, height]);
            force.on("tick", tick(centers, varname));
            labels(centers);
            nodes.attr("class", function (d) {
                return d.stats[varname];
            });
            force.start();
            makeClickable();
        }

        function tick(centers, varname) {
            var foci = {};
            for (var i = 0; i < centers.length; i++) {
                foci[centers[i].name] = centers[i];
            }
            return function (e) {
                for (var i = 0; i < data.length; i++) {
                    var o = data[i];
                    var f = foci[o[varname]];
                    o.y += (f.y - o.y) * e.alpha;
                    o.x += (f.x - o.x) * e.alpha;
                }
                nodes.each(collide(.2))
                    .attr("cx", function (d) {
                        return d.x;
                    })
                    .attr("cy", function (d) {
                        return d.y;
                    });
            }
        }

        function labels(centers) {
            svg.selectAll(".label").remove();

            svg.selectAll(".label")
                .data(centers).enter().append("text")
                .attr("class", "label")
                .text(function (d) {
                    return d.plan_id;
                })
                .attr("transform", function (d) {
                    return "translate(" + (d.x - ((d.plan_id) * 3)) + ", " + (d.y + 15 - d.r) + ")";
                });


        }

        function collide(alpha) {
            var maxRadius = d3.max(_.pluck(data, 'radius'));
            var quadtree = d3.geom.quadtree(data);
            return function (d) {
                var r = d.radius + maxRadius + padding,
                    nx1 = d.x - r,
                    nx2 = d.x + r,
                    ny1 = d.y - r,
                    ny2 = d.y + r;
                quadtree.visit(function (quad, x1, y1, x2, y2) {
                    if (quad.point && (quad.point !== d)) {
                        var x = d.x - quad.point.x,
                            y = d.y - quad.point.y,
                            l = Math.sqrt(x * x + y * y),
                            r = d.radius + quad.point.radius + padding;
                        if (l < r) {
                            l = (l - r) / l * alpha;
                            d.x -= x *= l;
                            d.y -= y *= l;
                            quad.point.x += x;
                            quad.point.y += y;
                        }
                    }
                    return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
                });
            };
        }


        function makeClickable() {
            var nest = d3.nest()
                .key(function (d) {
                    return d.plan_id;
                })
                .entries(data);

            $("circle").click(function () {
                console.log(nest.filter(x => this.id == x.key).map(x => x.values));
            });


        }


        nodes.exit().remove();
    });


</script>