<!DOCTYPE html>
<html class="h-100">
<head>
    {% include "includes/_head.html" %}
</head>

<body class="d-flex flex-column h-100">
<script>
    function onReady(callback) {
        var intervalId = window.setInterval(function () {
            if (document.getElementsByTagName('body')[0] !== undefined) {
                window.clearInterval(intervalId);
                callback.call(this);
            }
        }, 1000);
    }

    function setVisible(selector, visible) {
        document.querySelector(selector).style.display = visible ? 'block' : 'none';
    }

    onReady(function () {
        setVisible('#loading', false);
    });
</script>


<header>
    <nav class="navbar navbar-light bg-light ">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"><a class="nav-link" href="/">&#x1F468;&#x200D;&#x1F33E; GUIDataFarm - The Human in the Loop Data Generator</a></span>
        </div>
    </nav>
</header>
<div id="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border spinner" style="margin-top: 25%; width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<main class="flex-shrink-0">
<!--   Temporary way to enforce dashboard layout for the active learning component-->
<!--        <div class="container">-->
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">GUIDataFarm - 2021</span>
    </div>
</footer>


</body>
</html>