<div class="row mb-4">
    <div class="col">
        <h2>Labeling Generated Jobs</h2>
        {% if status["early_stop"] %}
            <div class="alert alert-success" role="alert">
                Early STOP at iteration {{ status["lf_current_iteration"] + 1 }}!
            </div>
        {% endif %}
        {% if (status["lf_current_iteration"] + 1) >= status["max_iter"] %}
            <div class="alert alert-warning" role="alert">
                Max number of iterations reached!
            </div>
        {% endif %}
        {% if status["lf_current_iteration"] < 0 %}
            <p>Configure the Label Forecaster</p>
            <form class="" action="/lf_run" method="post" id="lfRunId">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="targetLabelId">Target Label</label>
                    <div class="col-sm-10">
                        <select class="form-select" id="targetLabelId" name="targetLabel">
                            <option>Execution Time</option>
                            <option>Output Cardinality</option>
                        </select>
                    </div>
                </div>
                            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="initialJobSelectionId">Initial Job Selection</label>
                <div class="col-sm-10">
                    <select class="form-select" id="initialJobSelectionId" name="initialJobSelection">
                        <option>Random Sampler</option>
                        <option>User Sampler</option>
                        <option>Uniform Agglomerative Sampler</option>
                    </select>
                </div>
            </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="nInitJobsId"># Init Jobs</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="nInitJobsId" name="nInitJobs"
                               value="10">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="uncertaintyThId">Uncertainty Th.</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <div class="input-group-text">%</div>
                            <input type="number" class="form-control" id="uncertaintyThId" name="uncertaintyTh"
                                   value="10">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="maxIterId">Max. Iterations</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="maxIterId" name="maxIter" value="5">
                    </div>
                    <label class="col-sm-2 col-form-label" for="maxTimeId">Max. Time Budget</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-text">Hours</div>
                            <input type="number" class="form-control" id="maxTimeId" name="maxTime" value="1">
                        </div>
                    </div>
                </div>
                <div class="row mb-3 text-center">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Forecast Labels</button>
                    </div>
                </div>

            </form>
            <script>
                $("#lfRunId").submit(function (e) {

                    e.preventDefault(); // avoid to execute the actual submit of the form.
                    setVisible('#loading', true);

                    var form = $(this);
                    var url = form.attr('action');

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        success: function (data) {
                            setVisible('#loading', false);
                            window.location.replace("/"); // show response from the php script.
                            window.location.reload();
                        }
                    });
                });
            </script>
        {% else %}
        <h1>Iteration: {{ status["lf_current_iteration"] }}</h1>
            <div class="row mb-2">
                <div class="col">
                    <div class="card card-counter shadow">
                        <div class="card-body">
                            <h5 class="card-title"># Executed Jobs</h5>
                            {#                    <i class="fa fa-bar-chart">&#xf080;</i>#}
                            <span class="count-numbers">{{ active_learning_settings["current_executed_jobs"]|length }}</span>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-counter shadow">
                        <div class="card-body">
                            <h5 class="card-title">Tot. Execution Time</h5>
                            {#                    <i class="fa fa-bar-chart">&#xf080;</i>#}
                            <span class="count-numbers">{{ '{0:0.2f}'.format(0/3600000) | safe }} Hours</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4 b-2">
                <div class="col-12">
                    <div class="card card-counter shadow">
                        <div class="card-body">
                            <h5 class="card-title">Jobs Feature Overview</h5>
                            <p class="card-text">&#9660; Here you can see the jobs which are scheduled for execution. You can add or remove jobs to execute by clicking on them. </p>
                            <div id="plot1_div"></div>
                            <div id="plot2_div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form action="/lf_iteration" id="next_iteration" method="POST">
                        <div class="row mb-3 text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-lg btn-success">Execute Jobs & Run Next Iteration</button>
                            </div>
                            <div class="col"><a href="/download_generated_jobs_and_labels" role="button"
                                                class="btn btn-primary btn-lg"><i
                                    class="fa fa-download"></i>Download Training Data</a></div>
                        </div>
                    </form>
                </div>




            <script>

            function on_next_iteration(url){
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "lf_iteration", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    selected_jobs: user_selected_points
                }));
            }

            $("#next_iteration").submit(function (e) {
                    console.log("next iteration clicked")
                    e.preventDefault(); // avoid to execute the actual submit of the form.
                    setVisible('#loading', true);

                    console.log(user_selected_points)
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "lf_iteration", true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({selected_jobs: user_selected_points
                    }));
                    xhr.addEventListener("load", console.log("request completed"));
                    xhr.onreadystatechange = function() {
                            if (xhr.readyState === 4) {
                                window.location.replace("/"); // show response from the php script.
                                window.location.reload();
                            }
                        }
                    // window.location.replace("/"); // show response from the php script.
                    // window.location.reload();
                    // $.ajax({
                    //     type: "POST",
                    //     url: url,
                    //     data: JSON.stringify({selected_jobs: user_selected_points}), // serializes the form's elements.
                    //     success: function (data) {
                    //         setVisible('#loading', false);
                    //
                    //     }
                    // });
                });
            var data = {{ status["lf_iterations"]|tojson }};
            var current_iter = {{ status["lf_current_iteration"]|int }};



            var features = {{ features_df|safe }};

            var active_learning_settings = {{ active_learning_settings|safe }};

            console.log(Object.keys(features.outCardinality_mean)[1])




            function plot_features(xs, ys, sxs, sys, rxs, rys, title, xax,yax, div) {
                var not_executed_points = {
                    x: xs,
                    y: ys,
                    mode: 'markers',
                    type: 'scatter',
                    marker: {
                        size: 8,
                        color: Array(xs.length).fill("rgb(255,0,0)")
                    },
                    showlegend: true,
                    name: "Not executed jobs"
                }
                console.log(sxs)
                var selected_points =
                    {
                        x: sxs,
                        y: sys,
                        mode: 'markers',
                        type: 'scatter',
                        marker: {
                            size: 8,
                            color: Array(sxs.length).fill("rgb(255,230,0)")
                        },
                        showlegend: true,
                        name: "Scheduled for Execution"
                    }

                var executed_points =
                    {
                        x: rxs,
                        y: rys,
                        mode: 'markers',
                        type: 'scatter',
                        marker: {
                            size: 8,
                            color: Array(rxs.length).fill("rgb(47,255,0)")
                        },
                        showlegend: true,
                        name: "Executed"
                    }

                var layout = {
                    title: title,
                    yaxis: {
                        title: yax,
                    },
                    xaxis: {
                        title: xax,
                        categoryorder: "category ascending"
                    }
                };

                const complete_data = [not_executed_points, selected_points, executed_points];

                Plotly.newPlot(div, complete_data, layout);
                document.getElementById(div).on('plotly_click', function (data) {
                    console.log(data.points[0].pointNumber);

                    newItem = data.points[0].x


                    switch (data.event.button) {
                        case 0:
                            //Left click
                            var pn='', tn='', colors=[];
                            for(var i=0; i < data.points.length; i++){
                                pn = data.points[i].pointNumber;
                                tn = data.points[i].curveNumber;
                                colors = data.points[i].data.marker.color;
                            };

                            if(user_selected_points.indexOf(newItem) === -1){
                                colors[pn] = '#003eff';
                                user_selected_points.push(newItem)
                            }
                            else{
                                user_selected_points.splice(user_selected_points.indexOf(newItem), 1)
                                colors[pn] = "rgb(255,0,0)";
                            }
                            //Add or remove when already on list
                            console.log(user_selected_points)
                            var update = {'marker':{color: colors, size:8}};
                            Plotly.restyle(div, update,tn);
                            break

                        case 1:
                            console.log('wheel click')
                            window.open("/lf_plan_stats/"+newItem, "_blank");
                            break

                        case 2:
                            console.log('right click')
                            break
                    }


            });
            }
            // Array of the names of jobs that the user selects

            console.log()
            function preselected_points(feature) {
                var unselected_points_x =[]
                var unselected_points_y =[]
                var selected_points_x =[]
                var selected_points_y = []
                var executed_points_x=[]
                var executed_points_y=[]
                console.log(active_learning_settings.current_automated_sample_ids.length)

                for(var i=0; i < Object.keys(feature).length; i++){
                    if(active_learning_settings.current_automated_sample_ids.includes(i))
                    {

                        selected_points_x.push(Object.keys(feature).splice(i,1)[0]);
                        selected_points_y.push(Object.values(feature).splice(i,1)[0]);

                    }
                    else if(active_learning_settings.current_executed_jobs.includes(i)){
                        executed_points_x.push(Object.keys(feature).splice(i,1)[0]);
                        executed_points_y.push(Object.values(feature).splice(i,1)[0]);

                    }
                    else
                    {
                        unselected_points_x.push(Object.keys(feature).splice(i,1)[0]);
                        unselected_points_y.push(Object.values(feature).splice(i,1)[0]);
                    }

                    };
                return [unselected_points_x, unselected_points_y, selected_points_x, selected_points_y, executed_points_x, executed_points_y]
            }

            selected_samples = [active_learning_settings.current_automated_sample_ids]

            point_res = preselected_points(features.outCardinality_mean)
            var unselected_points_x =point_res[0]
            var unselected_points_y =point_res[1]
            var selected_points_x =point_res[2]
            var selected_points_y = point_res[3]
            var executed_points_x = point_res[4]
            var executed_points_y = point_res[5]
            var user_selected_points = [...selected_points_x]

            plot_features(unselected_points_x, unselected_points_y, selected_points_x, selected_points_y, executed_points_x, executed_points_y, "Out Cardinality Mean",  "Generated Jobs","Out Cardinality Mean", 'plot1_div')

            // var pointresult = preselected_points(features.complexity_mean)
            // console.log(features)
            // unselected_points_y_2 = pointresult[1]
            // selected_points_y_2 = pointresult[3]
            // executed_points_y_2
            // plot_features(unselected_points_x, unselected_points_y_2, selected_points_x, selected_points_y_2, data_iter_sort, "Complexity Mean",  "Generated Jobs", "Complexity Mean",'plot2_div')



            </script>

        {% endif %}
        {#        <table>#}
        {#            <thead
#}
        {#            <tr>#}
        {#            <th>Job Id</th>#}
        {#                {% for c in status["sji"]["cardinality_plan_features"]["columns"] %}#}
        {#                    <th>{{ c }}</th>#}
        {#                {% endfor %}#}
        {#            </tr>#}
        {#            </thead>#}
        {#            <tbody>#}
        {#            {% for data_r in status["sji"]["cardinality_plan_features"]["data"] %}#}
        {#                <tr>#}
        {#                    <td>{{ status["sji"]["cardinality_plan_features"]["index"][loop.index] }}</td>#}
        {##}
        {#                    {% for d in data_r %}#}
        {#                        <td>{{ d }}</td>#}
        {#                    {% endfor %}#}
        {#                </tr>#}
        {#            {% endfor %}#}
        {#            </tbody>#}
        {#        </table>#}


    </div>
</div>