{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 align-items-center text-center">
        <h1 class="mb-4"></h1>
        <div class="row mb-4">
            <div class="col">
<!--                <h1 class="display-1">Active Learner</h1>-->
                <h1 class="mb-4"></h1>
                <div class="row mb-4">
                    <div class="col">
                        <h3 class="display-2">Job Explorer</h3>
                        <h3 class="display-5">{{ plan_id }}</h3>
                        <div class="row mb-4 b-2">
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="card card-counter shadow h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Iteration</h5>
                                        {# <i class="fa fa-bar-chart">&#xf080;</i>#}
                                        <span class="count-numbers">{{ status["lf_current_iteration"] }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-counter shadow h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Executed</h5>
                                        {# <i class="fa fa-bar-chart">&#xf080;</i>#}
                                        <span class="count-numbers" id="executed_stat"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card card-counter shadow h-100">
                                    <div class="card-body">
                                        <h5 class="card-title" id="label_stat_text">Label</h5>
                                        {# <i class="fa fa-bar-chart">&#xf080;</i>#}
                                        <span class="count-numbers" id="label_stat"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-counter shadow h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Estimated Uncertainty</h5>
                                        {# <i class="fa fa-bar-chart">&#xf080;</i>#}
                                        <span class="count-numbers" id="general_uncertainty_interval"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-counter shadow h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Data ID</h5>
                                        <span class="count-numbers">1GB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                           <div class="accordion shadow-lg p-3 mb-5 bg-white rounded" id="accordionPanelsStayOpen">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseOne">
                                <h3><i class="bi bi-card-list" style="color: Aqua"></i> Instantiated Plan Characteristics</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card card-counter shadow h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">Abstract Plan</h5>
                                                <p class="card-text">&#9660; The abstract plan of this job</p>
                                                <img src="{{ ap_image_path}}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card card-counter shadow h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">Operator Features</h5>
                                                <p class="card-text">&#9660; The characteristics of each operator in the instantiated plan</p>
                                                                    <table id="data_plan_features" class="table-striped">
                                                                    </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                <h3> <i class="bi bi-book-fill" style="color: Red"></i> Feature Overview</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-counter shadow h-100">
                                            <div class="card-body flex-fill">
                                                <h5 class="card-title">Feature statistics</h5>
                                                <p class="card-text">&#9660; Compare the generated job on the basis of multiple features to the statistical features of the overall set</p>
                                                <table class="table table-sm table-striped" id="features">
                                                    <!--                    data-card-view="true" -->
                                                    <thead>
                                                    <tr>
                                                        <!--                        <th data-field="index">Index</th>-->
                                                        <!--                        <th data-field="Log_sourceCardinalitySum" >Log cardinality</th>-->
                                                        <!--                        <th data-field="complexity_max" >complexity_max</th>-->
                                                        <!--                        <th></th>-->
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                <h3><i class="bi bi-diagram-2-fill" style="color: Fuchsia"></i> Similar Jobs</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-counter shadow h-100">
                                            <div class="card-body" id="similar_jobs">
                                                <h5 class="card-title">Cardinality</h5>
                                                <p class="card-text">&#9660; Similar jobs with respects to cardinality</p>
                                                <table class="table table-sm table-striped" id="similar_jobs_card">
                                                    <thead>
                                                    <tr>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                                <div class="row mb-4 b-2">
                        </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-counter shadow h-100">
                                            <div class="card-body">
                                                <h5 class="card-title">Operator Count</h5>
                                                <p class="card-text">&#9660; Similar jobs with respects to operator count</p>
                                                <table class="table table-sm table-striped" id="similar_jobs_op_count">
                                                    <thead>
                                                    <tr>
                                                    </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseFour">
                                <h3><i class="bi bi-exclamation-circle" style="color: Green"></i> Feature Importance Analysis</h3>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-counter shadow h-100">
                                            <div class="card-body">
                                                <p class="card-text">&#9660; See how the features of this job have been used for its prediction</p>
                                                    <div id="shap_force"></div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                        <div class="row mb-4 b-2">
                        </div>
<!--                                <div class="row">-->
<!--                                    <div class="col-6">-->
<!--                                        <div class="card card-counter shadow h-100">-->
<!--                                            <div class="card-body">-->
<!--                                                <div id="shap_waterfall"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                    <div class="col">
                        <button type="submit" class="btn btn-lg btn-success shadow">Schedule For Execution</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<script>
    features = {{features|safe}};
    iteration_results = {{iteration_results|safe}};
    jobs_data_info = {{jobs_data_info|safe}};
    data_plan_features = {{data_plan_features|safe}};
    similar_jobs_card = {{similar_jobs_card|safe}};
    similar_jobs_op_count = {{similar_jobs_op_count|safe}};


    console.log(similar_jobs_op_count)
    precision = 5;

    console.log(features)
    console.log(iteration_results)
    console.log(jobs_data_info)
    console.log(data_plan_features)

    current_plan_id = "{{ plan_id|safe }}"
    console.log(current_plan_id)
    let stripped_string = current_plan_id.replace(/[.\/#!$%\^&\*;:{}=\-_`~()']/g,"").split(", ");
    let plan_id = stripped_string[0]
    let data_id = stripped_string[1]
    console.log(stripped_string)
    job_object = {"plan_id":plan_id,"data_id":data_id}

    if(!Array.isArray(iteration_results) && iteration_results !== null)
    {
        //First iteration has happened
        let test_ids = []
        let train_ids = []

        for (let i = 0; i < iteration_results.test_ids.length; i++) {
            test_ids.push(iteration_results.test_ids[i])
        }
        for (let i = 0; i < iteration_results.train_ids.length; i++) {
            train_ids.push(iteration_results.train_ids[i])
        }


        // Add SHAP image
        // Job has not been executed
        if(test_ids.findIndex(i => i.plan_id == plan_id && i.data_id == data_id)!=-1){
            //Plan has not been executed
            $('#executed_stat').append("No")
            $('#executed_stat').addClass("text-danger")

            var waterfall_img = $('<img class="img-responsive" width="100%" height="auto">');
            waterfall_img.attr('src', "{{ shap_image_path}}"+"_Waterfall");
            waterfall_img.appendTo('#shap_waterfall');

            var force_img = $('<img class="img-responsive" width="100%" height="auto">');
            force_img.attr('src', "{{ shap_image_path}}" +"_Force");
            force_img.appendTo('#shap_force');

            job_id_number = test_ids.findIndex(i => i.plan_id == plan_id && i.data_id == data_id);
            console.log(job_id_number);

            let uncertainty_interval = iteration_results.uncertainty_interval[job_id_number];
            $('#general_uncertainty_interval').append(uncertainty_interval.toPrecision(precision))

            exec_seconds = Math.pow(Math.E,iteration_results.pred_labels[job_id_number]);
            exec_time = new Date(exec_seconds * 1000).toISOString().substr(11, 8)
            $('#label_stat').append(exec_time+" Min")
            $('#label_stat_text').append(" Estimation")
        }
        else{
            //Plan has been executed
            $('#executed_stat').append("Yes")
            $('#executed_stat').addClass("text-success")
            $('#general_uncertainty_interval').append(0)
            $('#shap_force').append("This job has already been executed")

            console.log(job_object)
            // job_id_number = train_ids.indexOf(job_object);
            console.log(train_ids)
            job_id_number = train_ids.findIndex(i => i.plan_id == plan_id && i.data_id == data_id);
            console.log(current_plan_id)
            console.log(job_id_number);

            console.log(train_ids)
            exec_seconds = Math.pow(Math.E,iteration_results.train_labels[job_id_number]);
            console.log(iteration_results.train_labels[job_id_number])
            exec_time = new Date(exec_seconds * 1000).toISOString().substr(11, 8)
            $('#label_stat').append(exec_time+" Min")

        }
        console.log()
    }
    else{
        //No Plan has been executed
        $('#executed_stat').append("No")
        $('#executed_stat').addClass("text-danger")
        $('#label_stat').append("Unknown")
        $('#general_uncertainty_interval').append("Unknown")
        executed_first_error = "<div class=\"alert alert-warning\" role=\"alert\">Please execute the first iteration in order to see this</div>"
        $('#shap_force').append(executed_first_error)
        $('#similar_jobs').append(executed_first_error)
    }

    function featuresRowStyle(row,index) {
        if(index==0)
        {
            return{
                classes:"table-primary",
                 css: {"font-weight": "bold"}
            }
        }
        return {
            classes:"table-secondary"
        }
    }

    // var $table = $('#table');

    // $(function () {
    //     $('#table').bootstrapTable({
    //         data: jobs_data_info
    //     });
    // });

    var feature_cols = Object.getOwnPropertyNames(features[0]);
    for (let i=0;i<feature_cols.length;i++){
        $('#features >thead tr').append(`<th data-sortable="true" data-field=\"${feature_cols[i]}\">${feature_cols[i]} </th>`);
    }

    $('#features').bootstrapTable({
        data: features,
        search: true,
    });

    // console.log(similar_jobs)
    var similar_cols_card = Object.getOwnPropertyNames(similar_jobs_card[0]);
    for (let i=0;i<feature_cols.length;i++){
        $('#similar_jobs_card >thead tr').append(`<th data-sortable="true" data-field=\"${similar_cols_card[i]}\">${similar_cols_card[i]} </th>`);
    }
    $('#similar_jobs_card').bootstrapTable({
    data: similar_jobs_card,
    search: true,
    });

    var similar_cols_op_count = Object.getOwnPropertyNames(similar_jobs_op_count[0])
    for (let i=0;i<similar_cols_op_count.length;i++){
        $('#similar_jobs_op_count >thead tr').append(`<th data-sortable="true" data-field=\"${similar_cols_op_count[i]}\">${similar_cols_op_count[i]} </th>`);
    }
    $('#similar_jobs_op_count').bootstrapTable({
    data: similar_jobs_op_count,
    search: true,
    });

    $('#data_plan_features').bootstrapTable({
        pagination: true,
        search: true,

      columns: [{
        field: 'varName',
        title: 'Operator ID',
        sortable: true
      }, {
        field: 'pact',
        title: 'Operator Type',
        sortable: true
      }, {
        field: 'outCardinality',
        title: 'Output Cardinality',
        sortable: true
      }, {
        field: 'complexity',
        title: 'Complexity',
        sortable: true
      },{
        field: 'tables',
        title: 'Tables',
        sortable: true

      }],
        data: data_plan_features
    })




    //   $('#features').bootstrapTable({
    //     pagination: true,
    //     search: true,
    //
    //   columns: [{
    //     field: 'index',
    //     title: 'Job',
    //     sortable: true
    //   },{
    //     field: 'Log_sourceCardinalitySum',
    //     title: 'Log_sourceCardinalitySum',
    //     sortable: true
    //   },{
    //     field: 'complexity_max',
    //     title: 'complexity_max',
    //     sortable: true
    //   },{
    //     field: 'complexity_mean',
    //     title: 'complexity_min',
    //     sortable: true
    //   },{
    //     field: 'complexity_std',
    //     title: 'complexity_std',
    //     sortable: true
    //   },],
    //     data: features
    // })

</script>
{% endblock %}